@using System.Data;
@using System.Globalization
@using MS.ECP.BLL;
@using MS.ECP.Common;
@using MS.ECP.Web.Areas.Admin.WebHelp
@using MS.ECP.Web.WebHelp
@model IList<MS.ECP.Web.Areas.Admin.Models.CategoryListViewModel>
@{
    ViewBag.NavTitle = "Category Manage";
}

    <div class="content_title">Category Info</div>
    <div class="operate_action">
    </div>
    <div class="clear"></div>
    <div class="bline"></div>
    <div class="wline"></div>
    <div class="table_body">
    
    <table cellpadding="1" cellspacing="1">
        <tr>
            <td class="td_title" width="12%">ID</td>
            <td class="td_title" width="35%">Category Name(EN)</td>
            <td class="td_title" width="35%">Category Name(CN)</td>
            <td class="td_title" width="18%">Operate</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><b>@item.EnParentCategory.CategoryName -|</b><br />
                    @for (int index = 0; index < item.EnChildCategories.Count; index++)
                    {
                        var enitem = item.EnChildCategories[index];
                        @Html.Raw("&nbsp;")
                        @enitem.CategoryName
                        @Html.Raw("&nbsp;")
                        @Html.ActionLink("X", "Del", new {id = enitem.ID}, new {@class = "sub_del", onclick = "deleteconfim(this);return false;",title="Delete"})
                        if (index != item.EnChildCategories.Count - 1)
                        {
                            @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;")
                        }
                    }
                </td>
                <td><b>@item.ZhParentCategory.CategoryName -|</b><br />

                    @for (int index = 0; index < item.ZhChildCategories.Count; index++)
                    {
                        var enitem = item.ZhChildCategories[index];
                        @Html.Raw("&nbsp;")
                        @enitem.CategoryName
                        @Html.Raw("&nbsp;")
                        @Html.ActionLink("X", "Del", new {id = enitem.ID}, new {@class = "sub_del", onclick = "deleteconfim(this);return false;",title="Delete"})
                        if (index != item.ZhChildCategories.Count - 1)
                        {
                            @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;")
                        }
                    } 
                </td>
                <td>
                     @Html.ActionLink("Add SubCategory", "Add", "Category", new {lanid = @item.LanGuid},null)
                     &nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.ActionLink("Edit", "Edit", "Category", new {lanid = @item.LanGuid},null)
@*                    &nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.ActionLink("Delete", "DelByLan", new {id = item.LanGuid}, new {@class = "a_del", onclick = "deleteconfim(this);return false;"})*@
                </td>
            </tr>
        }
    </table>
</div>
