

@using System.Globalization
@using System.Text
@using MS.ECP.AAMAPrd.Areas.Admin.WebHelp
@using MS.ECP.AAMAPrd.WebPager
@using MS.ECP.Utility

@model MS.ECP.AAMAPrd.WebPager.PagedList<MS.ECP.Model.CMS.News> 





<table  style="table-layout: fixed" >
    <caption style="text-align: right">
        <a href="@Url.Action("Add", "News")">Add</a> Table : UpComing Event Management
    </caption>
    <tr>


                            <th>Language
                            </th>
                            <th style="width: 700px;text-align: center">Title
                            </th>
                            <th>Operate
                            </th>
    </tr>
    @foreach (var item in Model)
    {


        <tr class="listtr">
            <th class="spec" >
                @Html.Label(item.LanguageCode)
            </th>
            <td >
                @Html.Label(item.Title)
            </td>
            <td>
                  @Html.ActionLink("Add", "Add", new { languid=item.LangGuid }) 
            </td>
        
        </tr>

        foreach (var joinpart in item.Inputs)
        {
            <tr class="listtr">
                       <td>
                </td> 
                <td>
                    @Html.Label(joinpart.Inputtitle)
                </td>

                <td>
           
                    @Html.ActionLink("Edit", "Edit", new { id=joinpart.ID })  | 
                    @Html.ActionLink("Delete", "Del", 
                        new { id =joinpart.ID }, new { @class="delete"})
                </td>

            </tr>
        }
    }
</table>
     
<div class="page_box" style="margin-top: 10px;">
    <div   style="float:left;width:50%">
        共 @Model.TotalPageCount 页 @Model.TotalItemCount 条记录，当前为第 @Model.CurrentPageIndex 页
    </div>
    @Ajax.Pager(Model,new PagerOptions
    {
        PageIndexParameterName = "id",
        ShowPageIndexBox = true,
        PageIndexBoxType = PageIndexBoxType.DropDownList,
        CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>",
        ShowGoButton = false 
    },new MvcAjaxOptions{UpdateTargetId="newspaging",OnSuccess = "paggerajaxloaded"},new{ id="badoopager",style="float:right"})
</div>

<script type="text/javascript">
    function paggerajaxloaded() {
        var activeheight = $("#newspaging").height() + 100;
        window.parent.changeiContentifame(activeheight);
    }
</script>